<section class="section">
  <div class="container">
    <h2 class="title">Administradores | <%= link_to 'Novo', new_admin_path %></h2>

    <table class="table is-fullwidth">
      <thead>
        <tr> 
          <td>Nome</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.first_name %></td>
            <td>
              <%= link_to 'Editar', edit_admin_path(admin), class: 'button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>