<section class="section">
  <div class="container">
    <h1 class="title">Nova turma</h1>
    <%= render 'batches/form', batch: @batch, courses: @courses, school_year: @school_year, school_grades: @school_grades %>
  </div>
<section>