<section class="section">
  <div class="container">
    <h2 class="title">Pauta global</h2>
    <h3 class="subtitle"><%= @batch.description %> | 
      <%= 
        link_to 'Excel', scoresheets_path(format: :xls, batch_id: @batch.id) if current_user.admin? || @batch.batch_director == current_user.profile
      %>
    </h3>
    
    <%= render 'scoresheets/global_table' %>    
  </div>
</section>